<ul class="navbar-nav ml-auto">
    <!-- View Character Route -->
    <li class="nav-item">
        <a href="/characters">
            Characters
        </a>
    </li>
    {{#if currentUser}}
    <!-- Add Character Route -->
    <li class="nav-item">
        <a href="/character/new">
            Add Character
        </a>
    </li>
    <!-- Add Character Route -->
    <li class="nav-item">
        <a href="/logout">
            Logout
        </a>
    </li>
    {{else}}
    <!-- Login Route -->
    <li class="nav-item">
        <a href="/login">
            Login
        </a>
    </li>
    <!-- Signup Route -->
    <li>
        <a href="/sign-up">
            Sign Up
        </a>
    </li>
    {{/if}}
</ul>