<ul class="navbar-nav ml-auto">

     <!-- Home Route -->
    <li class="nav-item">
        <a href="/">
            Home
        </a>
    </li>
    <!-- Some Route -->
    <li class="nav-item">
        <a href=" ">
            New Post
        </a>
    </li>
    <!-- Login Route -->
    <li class="nav-item">
        <a href="/login">
            Login
        </a>
    </li>
    <!-- Signup Route -->
    <li>
        <a href="/sign-up">
            Sign Up
        </a>
    </li>

</ul>