<ul class="navbar-nav ml-auto">

     <!-- Home Route -->
    <li class="nav-item">
        <a href="/">
            Home
        </a>
    </li>
    <!-- View Character Route -->
    <li class="nav-item">
        <a href="/characters">
            Characters
        </a>
    </li>
    <!-- Add Character Route -->
    <li class="nav-item">
        <a href="/character/new">
            Add Character
        </a>
    </li>
    <!-- Login Route -->
    <li class="nav-item">
        <a href="/login">
            Login
        </a>
    </li>
    <!-- Signup Route -->
    <li>
        <a href="/sign-up">
            Sign Up
        </a>
    </li>

</ul>